body {
    margin: 0;
    background-color: cornsilk;
}


.intro_section {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#fotoku {
    width: 400px;
    height: 480px;
    right: 150px;
    position: relative;
    bottom: 400px;
    border-radius: 8px;
    
}

.top_left {
    width: 500px;
    margin-left: 70px;
    margin-top: 100px;
}

#statusku {
    padding-top: 0px;
    position: relative;
    font-family: 'Teko', sans-serif;
    top: 20px;
    text-transform: uppercase;
    font-size: x-large;
}

#namaku{
    margin-top: 0px;
    font-size: 7em;
    font-family: 'Bebas Neue', cursive;
    line-height: 1em;
}

.informasiku {
    font-family: 'Teko', sans-serif;
    font-size: large;
    position: relative;
    padding-top: 0px;
    bottom: 100px;
    left: 75px;
    line-height: 0px;
    display: inline;

}

.section_2 {
    position: relative;
    top: 250px;    
    background-image: linear-gradient(to bottom, rgba(241, 121, 22, 0),rgba(241, 121, 22, 0.5));
    
    
}

#fasilkom {
    position: relative;
    top: 140px;
    left: 60px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
}

.isi_section_2 {
    position: relative;
    text-align: left;
    width: 500px;
    bottom: 395px;
    left: 750px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


#who_am_i {
    font-size: 50px;
    font-family: "Bebas Neue", cursive;
}

.hobbies_section {
    position: relative;
    top: 229px;
    background-image: linear-gradient(to bottom, rgba(241, 121, 22, 0.5), rgba(253, 6, 6, 0.6));
    padding-bottom: 200px;

}

#hobbies_header {
    text-align: center;
    padding-bottom: 60px;
    font-size: 60px;
    font-family: "Bebas Neue", cursive;

}

#swimming {
    position: relative;
    left: 100px;
    width: 200px;
    height: 200px;

}

#singing {
    position: relative;
    left: 200px;
    width: 200px;
    height: 200px;
}

#watching {
    position: relative;
    left: 300px;
    width: 200px;
    height: 200px;
}

#browsing {
    position: relative;
    left: 400px;
    width: 200px;
    height: 200px;
}

span:before{
    content:" "; 
    display:inline-block; 
    width:140px;
}
#swimming_text {
    position: relative;
    left: 15px;
    font-family: 'Teko', sans-serif;
    font-size: x-large;
}


#singing_text {
    position: relative;
    left: 90px;
    font-family: 'Teko', sans-serif;
    font-size: x-large;
}

#watching_text {
    position: relative;
    left: 200px;
    font-family: 'Teko', sans-serif;
    font-size: x-large;
}

#browsing_text {
    position: relative;
    left: 270px;
    font-family: 'Teko', sans-serif;
    font-size: x-large;
}

.table_section {
    position: relative;
    top: 229px;
    padding-top: 10px;
    background-image: linear-gradient(to bottom,rgba(253, 6, 6, 0.6), rgba(255, 248, 220,1));

}

#riwayat_pendidikan {
    width: 80%;
}

th, td {
    padding: 6px;
    border-bottom: 1px solid black;
    font-size: 20px;
    background-color: cornsilk;
    text-align: left;

}

#table_header {
    text-align: center;
    padding-bottom: 60px;
    font-family: "Bebas Neue", cursive;
    font-size: 60px;

}

.row_1 {
    background-color: cornsilk;
}

.contact_section{
    position: relative;
    top: 400px;
    text-align:center;
    padding-bottom: 80px;
    padding-top: 40px;
    background-color: cornsilk;
    

}
#contact_header {
    font-size: x-large;
    color: black;
    font-family: 'Teko', sans-serif ;

}

#facebook {
    width: 50px;
    height: 50px;
}

#instagram {
    width: 50px;
    height: 50px;
}

#linkedin {
    width: 50px;
    height: 50px;
}
