{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="intro_section">
    <h3 class="top_left" id="statusku" >Student in University of Indonesia</h3>
    <h2 class="top_left" id="namaku">HUGO IRWANTO</h2>
    <h4 class="informasiku">NPM : 1906398446</h4>
    <h4 class="informasiku">Angkatan : 2019</h4>
    <img id="fotoku" src="{% static "index/hugo_camp.jpg" %}" alt="" align="right" >
    </div>

    <div class="section_2" >
    <img id="fasilkom" src="{% static "index/fasilkom_ui.jpg" %}" alt="">
    <h1 class="isi_section_2" id="who_am_i" >Who Am I?</h1>
    <p class="isi_section_2" id="deskripsi" >Perkenalkan nama saya Hugo Irwanto. Saya sedang menjalani kuliah Ilmu Komputer di Fakultas Ilmu Komputer 
        Universitas Indonesia (Fasilkom UI). Selama berkuliah ini, saya berencana untuk mendalami pengetahuan tentang 
        Machine Learning terutama mengenai Deep Learning. Walaupun saat ini pengetahuan saya masih terbatas, namun saya akan berusaha dengan senang hati
        mempelajari bagian yang kurang dalam pengetahuan saya ini.</p>
    </div> 
    <div class="hobbies_section">
        <br>
        <br>
        <h1 id="hobbies_header">My Hobbies</h1>
        <img id="swimming" src="{% static "index/hobbies/swimming.png" %}" alt="swimming">
        <img id="singing" src="{% static "index/hobbies/microphone.png" %}" alt="">
        <img id="watching" src="{% static "index/hobbies/watching.png" %}" alt="">
        <img id="browsing" src="{% static "index/hobbies/browsing.png" %}" alt="">
 
    <div class="hoobies_text">
        <span id="swimming_text" >Swimming</span>
        <span id="singing_text" >Singing</span>
        <span id="watching_text" >Watching</span>
        <span id="browsing_text" >Browsing</span>
    </div>
</div> 
<div class="table_section">
    <h1 id="table_header" >My Education Background</h1>
<table align="center" id="riwayat_pendidikan">
    <tr>
        <th class="row_1" >Tahun</th>
        <th class="row_1" >Pendidikan</th>
        <th class="row_1" >Jurusan</th>
    </tr>
    <tr>
        <td>2007-2013</td>
        <td>SDK Tiara Kasih</td>
        <td>-</td>
    </tr>
    <tr>
        <td>2013-2016</td>
        <td>SMP Santo Leo II</td>
        <td>-</td>
    </tr>
    <tr>
        <td>2016-2018</td>
        <td>SMA Negeri 78 Jakarta</td>
        <td>MIPA</td>
    </tr>
    <tr>
        <td>2019-2023</td>
        <td>Universitas Indonesia</td>
        <td>Ilmu Komputer</td>
    </tr>
</table>
</div>
<div class="contact_section">
    <h3 id="contact_header">My Contact</h3>
    <a href="https://www.facebook.com/people/Hugo-Irwanto/100008717070578"><img id="facebook" src="{% static "index/contact/facebook.png" %}" alt=""></a>
    <a href="https://www.instagram.com/hugoirrr/?hl=id"><img id="instagram" src="{% static "index/contact/instagram.png" %}" alt=""></a>
    <a href="https://www.linkedin.com/in/hugo-irwanto-bba220195/?originalSubdomain=id"><img id="linkedin" src="{% static "index/contact/linkedin.png" %}" alt=""></a>
</div>

</body>
</html>
